<% include partials/header %>

</head>
 
<body>
  <main>
    <h1>
      Cool Images
    </h1>
    <form action="/search" method="get">
      <input name="keyword" size="15" type="text" placeholder="Type a keyword"><br>
      <br>
      <button>
        Search
      </button>
    </form>
    <br>
  </main>
<% include partials/footer %>